<header class="flex w-full p-6 max-medium:flex-col medium:items-center medium:justify-between medium:px-10 medium:py-9 large:px-24 large:py-14">
  <div class="flex items-center justify-between gap-7">
    <img routerLink="/" class="max-small:w-[65%] small:w-56 max-w-56 medium:w-80" src="/assets/images/logo_website.webp" alt="Logo du site composé du texte trouve ton artisan avec la région Auvergne Rhône Alpes">
    <i class="fa-solid fa-magnifying-glass fa-xl cursor-pointer text-secondary medium:hidden" (click)="displayElement('search-bar')"></i>
    <i class="fa-solid fa-bars fa-xl cursor-pointer text-secondary medium:hidden" (click)="displayElement('menu')"></i>
  </div>
  <div id="search-bar" class="mx-6 hidden h-fit w-60 rounded-full border-2 border-secondary bg-primary px-4 py-1 max-medium:mt-6 medium:mx-8 medium:flex medium:items-center medium:justify-between large:px-6 large:py-3">
    <input routerLink="/liste-des-artisans" class="bg-primary focus:outline-none" [(ngModel)]="inputValue" (ngModelChange)="setSearchBarText()" type="text" placeholder="Rechercher">
    <a routerLink="/liste-des-artisans"><i class="fa-solid fa-magnifying-glass pr-1 text-secondary"></i></a>
  </div>
  <nav id="menu" class="hidden text-dark max-medium:mt-6 max-medium:text-right medium:block large:w-[52%] large:max-w-[550px]">
    <ul class="font-graphik text-base font-medium medium:flex medium:w-60 medium:flex-wrap medium:justify-between medium:gap-8 medium:text-lg large:w-full large:flex-nowrap large:gap-3 large:text-xl">
      <li class="max-medium:pb-1 medium:w-[97px] medium:text-center large:w-fit" (click)="setCategory('Bâtiment')">
        <a id="link-Bâtiment" routerLink="/liste-des-artisans" class="hover:text-secondary">Bâtiment</a>
      </li>
      <li class="max-medium:pb-1 medium:w-[110px] medium:text-center large:w-fit" (click)="setCategory('Services')">
        <a id="link-Services" routerLink="/liste-des-artisans" class="hover:text-secondary">Services</a>
      </li>
      <li class="max-medium:pb-1">
        <a id="link-Fabrication" routerLink="/liste-des-artisans" (click)="setCategory('Fabrication')" class="hover:text-secondary">Fabrication</a>
      </li>
      <li class="max-medium:pb-1">
        <a id="link-Alimentation" routerLink="/liste-des-artisans" (click)="setCategory('Alimentation')" class="hover:text-secondary">Alimentation</a>
      </li>
    </ul>
  </nav>
</header>