<footer class="p-6 font-graphik medium:px-10 medium:py-14 large:px-24 large:py-16 bg-secondary text-white flex max-small:flex-col max-medium:flex-wrap justify-between gap-y-14">
    <div class="max-medium:w-full flex flex-col gap-5 items-center medium:justify-between">
        <div class="flex gap-3 large:gap-6">
            <img class="w-16 h-16 medium:w-[100px] medium:h-[100px] large:w-[120px] large:h-[120px]" src="/assets/images/logo_region.webp" alt="Logo de la Région Auvergne Rhône Alpes, bleu sur fond blanc">
            <div class="flex flex-col max-medium:justify-between medium:gap-3">
                <p class="font-semibold text-[2.3rem] medium:text-[2.5rem] leading-8">La Région</p>
                <p class="medium:text-lg">Auvergne-Rhône-Alpes</p>
            </div>
        </div>
        <div class="max-medium:text-center medium:text-lg medium:pl-[110px] large:pl-[150px]">
            <p>Conseil régional</p>
            <p>Auvergne-Rhône-Alpes</p>
        </div>
    </div>
    <div class="flex flex-col gap-5 large:gap-6">
        <h2 class="text-center font-semibold text-xl medium:text-2xl">Pages légales</h2>
        <ul class="text-center medium:text-lg">
            <li><a class="hover:underline hover:underline-offset-2" routerLink="/mentions-legales">Mentions légales</a></li>
            <li><a class="hover:underline hover:underline-offset-2" routerLink="/gestion-des-donnees">Données personnelles</a></li>
            <li><a class="hover:underline hover:underline-offset-2" routerLink="/accessibilite">Accessibilité</a></li>
            <li><a class="hover:underline hover:underline-offset-2" routerLink="/cookies">Cookies</a></li>
        </ul>
    </div>
    <div class="flex flex-col gap-5 large:gap-6">
        <h2 class="text-center font-semibold text-xl medium:text-2xl">Contact</h2>
        <address class="not-italic flex flex-col text-center medium:text-lg gap-5">
            <a class="hover:underline hover:underline-offset-2" target="_blank" href="https://www.google.fr/maps/place/101+Cr+Charlemagne,+69002+Lyon/@45.7403409,4.8142264,17z/data=!3m1!4b1!4m10!1m2!2m1!1s101+Cr+Charlemagne+cs+2003+lyon!3m6!1s0x47f4ebceb7217f5b:0x97dd96361cc92602!8m2!3d45.7403373!4d4.8190973!15sCh8xMDEgQ3IgQ2hhcmxlbWFnbmUgY3MgMjAwMyBseW9ukgEQZ2VvY29kZWRfYWRkcmVzc-ABAA!16s%2Fg%2F11c213z3kc?entry=ttu&g_ep=EgoyMDI0MTIwMS4xIKXMDSoASAFQAw%3D%3D">
                101 cours Charlemagne<br>
                CS 2003<br>
                69269 LYON CEDEX 02<br>
                France
            </a>
            <a class="hover:underline hover:underline-offset-2" href="tel:+33426734000">+33 (0)4 26 73 40 00</a>
        </address>
    </div>
</footer>
