<footer class="flex justify-between gap-y-14 bg-secondary p-6 font-graphik text-white max-medium:flex-wrap max-small:flex-col medium:px-10 medium:py-14 large:px-24 large:py-16">
  <div class="flex flex-col items-center gap-5 max-medium:w-full medium:justify-between">
    <div class="flex gap-3 large:gap-6">
      <img class="h-16 w-16 medium:h-[100px] medium:w-[100px] large:h-[120px] large:w-[120px]" src="/assets/images/logo_region.webp" alt="Logo de la Région Auvergne Rhône Alpes, bleu sur fond blanc">
      <div class="flex flex-col max-medium:justify-between medium:gap-3">
        <p class="text-[2.3rem] font-semibold leading-8 medium:text-[2.5rem]">La Région</p>
        <p class="medium:text-lg">Auvergne-Rhône-Alpes</p>
      </div>
    </div>
    <div class="max-medium:text-center medium:pl-[110px] medium:text-lg large:pl-[150px]">
      <p>Conseil régional</p>
      <p>Auvergne-Rhône-Alpes</p>
    </div>
  </div>
  <div class="flex flex-col gap-5 large:gap-6">
    <h2 class="text-center text-xl font-semibold medium:text-2xl">Pages légales</h2>
    <ul class="text-center medium:text-lg">
      <li>
        <a class="hover:underline hover:underline-offset-2" routerLink="/mentions-legales">Mentions légales</a>
      </li>
      <li>
        <a class="hover:underline hover:underline-offset-2" routerLink="/gestion-des-donnees">Données personnelles</a>
      </li>
      <li>
        <a class="hover:underline hover:underline-offset-2" routerLink="/accessibilite">Accessibilité</a>
      </li>
      <li>
        <a class="hover:underline hover:underline-offset-2" routerLink="/cookies">Cookies</a>
      </li>
      <li>
        <a class="hover:underline hover:underline-offset-2" routerLink="/tout-path-non-declare-dans-app-routing-module">(404)</a>
      </li>
    </ul>
  </div>
  <div class="flex flex-col gap-5 large:gap-6">
    <h2 class="text-center text-xl font-semibold medium:text-2xl">Contact</h2>
    <address class="flex flex-col gap-5 text-center not-italic medium:text-lg">
      <a class="hover:underline hover:underline-offset-2" target="_blank" href="https://www.google.fr/maps/place/101+Cr+Charlemagne,+69002+Lyon/@45.7403409,4.8142264,17z/data=!3m1!4b1!4m10!1m2!2m1!1s101+Cr+Charlemagne+cs+2003+lyon!3m6!1s0x47f4ebceb7217f5b:0x97dd96361cc92602!8m2!3d45.7403373!4d4.8190973!15sCh8xMDEgQ3IgQ2hhcmxlbWFnbmUgY3MgMjAwMyBseW9ukgEQZ2VvY29kZWRfYWRkcmVzc-ABAA!16s%2Fg%2F11c213z3kc?entry=ttu&g_ep=EgoyMDI0MTIwMS4xIKXMDSoASAFQAw%3D%3D">
        101 cours Charlemagne<br>
        CS 2003<br>
        69269 LYON CEDEX 02<br>
        France
      </a>
      <a class="hover:underline hover:underline-offset-2" href="tel:+33426734000">+33 (0)4 26 73 40 00</a>
    </address>
  </div>
</footer>