<main class="font-graphik">
    <picture >
        <source media="(min-width: 1024px)" srcset="/assets/images/landscape_lg.webp" />
        <source media="(min-width: 769px)" srcset="/assets/images/landscape_md.webp" />
        <source media="(max-width: 768px)" srcset="/assets/images/landscape_sm.webp" />
        <img class="w-full" src="/assets/images/landscape_lg.webp" alt="Photo d'un lac avec au premier plan une dizaine d'épis de blé sur la gauche et à l'arrière plan des montagnes et le ciel est dégagé.">
    </picture>
    <section class="flex flex-col items-center gap-12 medium:gap-16 py-20 large:py-24">
        <h1 class="text-secondary text-center text-3xl medium:text-[2.5rem] font-medium">Oups, cette page n'existe pas</h1>
        <a class="bg-secondary text-white text-xl hover:bg-tertiary rounded-full px-12 pb-2 medium:pb-3 pt-1 medium:pt-2" routerLink="/">Retour à l'accueil</a>
    </section>
</main>