<main class="font-graphik">
    <div class="bg-primary px-6 medium:px-10 large:px-24 py-8 large:py-16 flex justify-between">
        <h1 class="text-secondary text-3xl small:text-4xl font-medium max-w-[50%]">{{craftsman.name}}</h1>
        <div class="flex flex-col justify-between gap-6">
            <div class="flex items-center gap-2">
                <p class="text-dark">{{note}}/5</p>
                <div class="flex">
                    <svg *ngFor="let star of (stars); trackBy: starId" class="w-[18px] h-[18px] medium:h-[25px] medium:w-[25px] mx-[-1px]" version="1.1" [id]="'Capa_'+star.id" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-4.79 -4.79 57.52 57.52" xml:space="preserve" fill="#db1a1a" stroke="#db1a1a" stroke-width="2.6846400000000004">
                        <defs>
                            <linearGradient [id]=star.id+craftsman.id>
                            <stop [attr.offset]=star.fill stop-color="#0074c7" />
                            <stop offset="0%" stop-color="white" />
                            </linearGradient>
                        </defs>
                        <path class="stroke-secondary stroke-[4.5]" [style.fill]="'url(#'+star.id+craftsman.id+')'" d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z"></path>
                    </svg>
                </div>
            </div>
            <p class="text-secondary font-medium text-xl large:text-3xl text-right medium:text-2xl">{{craftsman.specialty}}</p>
        </div>
    </div>
    <div class="flex max-medium:flex-col px-6 medium:px-10 large:px-24 py-6 medium:py-8 large:py-16 gap-8 medium:justify-between medium:gap-16 large:gap-32">
        <div class="flex flex-col gap-3 medium:gap-5 large:max-w-[400px]">
            <h2 class="text-center text-dark text-xl font-medium medium:text-2xl large:text-3xl">Présentation</h2>
            <p class="text-center text-dark large:text-left">{{craftsman.about}}</p>
        </div>
        <div class="flex justify-between gap-3 large:w-full large:max-w-[520px] medium:flex-col large:flex-row medium:items-center medium:gap-9">
            <div class="bg-secondary h-fit w-fit rounded-xl px-4 medium:px-6 py-3 medium:py-5 flex flex-col gap-3">
                <h2 class="text-white text-center text-xl medium:text-2xl large:text-3xl">Ville</h2>
                <p class="text-white text-center">{{craftsman.location}}</p>
            </div>
            <div class="bg-secondary rounded-xl px-4 medium:px-6 py-3 medium:py-5 flex flex-col gap-3">
                <h2 class="text-white text-center text-xl medium:text-2xl large:text-3xl">Site web</h2>
                <p *ngIf="craftsman.website != ''" class="text-white text-center medium:whitespace-nowrap">Cliquez <a class="underline underline-offset-4 font-medium" [href]="craftsman.website" target="_blank">ici</a> pour visiter le site</p>
                <p *ngIf="craftsman.website == ''" class="text-white text-center medium:whitespace-nowrap">Pas de site web disponible</p>
            </div>
        </div>
    </div>
    <div class="bg-primary text-dark px-6 medium:px-10 large:px-24 py-9 large:py-16 flex flex-col items-center gap-8 large:gap-14">
        <h2 class="text-xl text-center medium:text-2xl large:text-3xl">Formulaire de contact</h2>
        <form class="w-full flex flex-col gap-3 large:gap-5 items-end" [formGroup]="form" action="#" method="post">
            <div class="w-full max-w-[calc(50%+150px)] medium:max-w-[calc(50%+180px)]">
                <div class="flex gap-7 items-center">
                    <label class="w-[66px]" for="last-name">Nom</label>
                    <input class="outline-none rounded-full min-w-0 py-1 px-3 medium:w-[300px]" type="text" name="last-name" id="last-name" formControlName="lastName">
                </div>
                <div class="pl-[100px] text-danger" *ngIf="form.get('lastName')?.invalid && (!form.get('lastName')?.pristine || form.get('lastName')?.touched)">
                    <p *ngIf="form.get('lastName')?.hasError('required')">Requis</p>
                    <p *ngIf="form.get('lastName')?.hasError('maxlength')">20 caractères maximum</p>
                    <p *ngIf="form.get('lastName')?.hasError('pattern')">Sont acceptés : les lettres, les accents et le tiret</p>
                </div>
            </div>
            <div class="w-full max-w-[calc(50%+150px)] medium:max-w-[calc(50%+180px)]">
                <div class="flex gap-7 items-center">
                    <label class="w-[66px]" for="first-name">Prénom</label>
                    <input class="outline-none rounded-full min-w-0 py-1 px-3 medium:w-[300px]" type="text" name="first-name" id="first-name" formControlName="firstName">
                </div>
                <div class="pl-[100px] text-danger" *ngIf="form.get('firstName')?.invalid && (!form.get('firstName')?.pristine || form.get('firstName')?.touched)">
                    <p *ngIf="form.get('firstName')?.hasError('required')">Requis</p>
                    <p *ngIf="form.get('firstName')?.hasError('maxlength')">20 caractères maximum</p>
                    <p *ngIf="form.get('firstName')?.hasError('pattern')">Sont acceptés : les lettres, les accents et le tiret</p>
                </div>
            </div>
            <div class="w-full max-w-[calc(50%+150px)] medium:max-w-[calc(50%+180px)]">
                <div class="flex gap-7 items-center">
                    <label class="w-[66px]" for="mail">E-mail</label>
                    <input class="outline-none rounded-full min-w-0 py-1 px-3 medium:w-[300px]" type="email" name="mail" id="mail" formControlName="mail">
                </div>
                <div class="pl-[100px] text-danger" *ngIf="form.get('mail')?.invalid && (!form.get('mail')?.pristine || form.get('mail')?.touched)">
                    <p *ngIf="form.get('mail')?.hasError('required')">Requis</p>
                    <p *ngIf="form.get('mail')?.hasError('email') && form.get('mail')?.touched">Le mail n'est pas valide</p>
                </div>
            </div>
            <div class="w-full max-w-[calc(50%+150px)] medium:max-w-[calc(50%+180px)]">
                <div class="flex gap-7 items-center">
                    <label class="w-[66px]" for="subject">Objet</label>
                    <input class="outline-none rounded-full min-w-0 py-1 px-3 medium:w-[300px]" type="text" name="subject" id="subject" formControlName="subject">
                </div>
                <div class="pl-[100px] text-danger" *ngIf="form.get('subject')?.invalid && (!form.get('subject')?.pristine || form.get('subject')?.touched)">
                    <p *ngIf="form.get('subject')?.hasError('required')">Requis</p>
                    <p *ngIf="form.get('subject')?.hasError('maxlength')">60 caractères maximum</p>
                </div>
            </div>
            <div class="w-full max-w-[calc(50%+150px)] medium:max-w-[calc(50%+180px)]">
                <div class="flex gap-7">
                    <label class="w-[66px]" for="message">Message</label>
                    <textarea class="outline-none rounded-2xl py-1 px-3 h-40 w-full" name="message" id="message" formControlName="message"></textarea>
                </div>
                <div class="pl-[100px] text-danger" *ngIf="form.get('message')?.invalid && (!form.get('message')?.pristine || form.get('message')?.touched)">
                    <p *ngIf="form.get('message')?.hasError('required')">Requis</p>
                    <p *ngIf="form.get('message')?.hasError('maxlength')">1 000 caractères maximum</p>
                </div>
            </div>
            <button class="bg-secondary self-center text-white mt-4 large:mt-8 pt-1.5 large:pt-3 pb-2 large:pb-4 px-12 large:px-20 rounded-full hover:bg-tertiary" type="button" (click)="sendInvalidForm()" *ngIf="form.invalid">Envoyer</button>
            <button class="bg-secondary self-center text-white mt-4 large:mt-8 pt-1.5 large:pt-3 pb-2 large:pb-4 px-12 large:px-20 rounded-full hover:bg-tertiary" type="submit" (click)="sendValidForm()" *ngIf="form.valid">Envoyer</button>
            <p class="text-danger self-center" *ngIf="form.invalid && trySendInvalidForm">Veuillez remplir intégralement le formulaire</p>
        </form>
    </div>
</main>
