<main class="font-graphik">
  <div class="flex justify-between bg-primary px-6 py-8 medium:px-10 large:px-24 large:py-16">
    <h1 class="max-w-[50%] text-3xl font-medium text-secondary small:text-4xl">{{ craftsman.name }}</h1>
    <div class="flex flex-col justify-between gap-6">
      <div class="flex items-center gap-2">
        <p class="text-dark">{{ note }}/5</p>
        <div class="flex">
          <svg
            *ngFor="let star of stars | starFilling: craftsman.note; trackBy: starId"
            class="mx-[-1px] h-[18px] w-[18px] medium:h-[25px] medium:w-[25px]"
            version="1.1"
            [id]="'Capa_' + star.id"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="-4.79 -4.79 57.52 57.52"
            xml:space="preserve"
            fill="#db1a1a"
            stroke="#db1a1a"
            stroke-width="2.6846400000000004"
          >
            <defs>
              <linearGradient [id]="star.id + craftsman.id">
                <stop [attr.offset]="star.fill" stop-color="#0074c7" />
                <stop offset="0%" stop-color="white" />
              </linearGradient>
            </defs>
            <path
              class="stroke-secondary stroke-[4.5]"
              [style.fill]="'url(#' + star.id + craftsman.id + ')'"
              d="M26.285,2.486l5.407,10.956c0.376,0.762,1.103,1.29,1.944,1.412l12.091,1.757 c2.118,0.308,2.963,2.91,1.431,4.403l-8.749,8.528c-0.608,0.593-0.886,1.448-0.742,2.285l2.065,12.042 c0.362,2.109-1.852,3.717-3.746,2.722l-10.814-5.685c-0.752-0.395-1.651-0.395-2.403,0l-10.814,5.685 c-1.894,0.996-4.108-0.613-3.746-2.722l2.065-12.042c0.144-0.837-0.134-1.692-0.742-2.285l-8.749-8.528 c-1.532-1.494-0.687-4.096,1.431-4.403l12.091-1.757c0.841-0.122,1.568-0.65,1.944-1.412l5.407-10.956 C22.602,0.567,25.338,0.567,26.285,2.486z"
            ></path>
          </svg>
        </div>
      </div>
      <p class="text-right text-xl font-medium text-secondary medium:text-2xl large:text-3xl">{{ craftsman.specialty }}</p>
    </div>
  </div>
  <section class="flex gap-8 px-6 py-6 max-medium:flex-col medium:justify-between medium:gap-16 medium:px-10 medium:py-8 large:gap-32 large:px-24 large:py-16">
    <article class="flex flex-col gap-3 medium:gap-5 large:max-w-[400px]">
      <h2 class="text-center text-xl font-medium text-dark medium:text-2xl large:text-3xl">Présentation</h2>
      <p class="text-center text-dark large:text-left">{{ craftsman.about }}</p>
    </article>
    <div class="flex justify-between gap-3 medium:flex-col medium:items-center medium:gap-9 large:w-full large:max-w-[520px] large:flex-row">
      <article class="flex h-fit w-fit flex-col gap-3 rounded-xl bg-secondary px-4 py-3 medium:px-6 medium:py-5">
        <h2 class="text-center text-xl text-white medium:text-2xl large:text-3xl">Ville</h2>
        <p class="text-center text-white">{{ craftsman.location }}</p>
      </article>
      <article class="flex flex-col gap-3 rounded-xl bg-secondary px-4 py-3 medium:px-6 medium:py-5">
        <h2 class="text-center text-xl text-white medium:text-2xl large:text-3xl">Site web</h2>
        <p *ngIf="craftsman.website != ''" class="text-center text-white medium:whitespace-nowrap">
          Cliquez
          <a class="font-medium underline underline-offset-4" [href]="craftsman.website" target="_blank">ici</a>
          pour visiter le site
        </p>
        <p *ngIf="craftsman.website == ''" class="text-center text-white medium:whitespace-nowrap">Pas de site web disponible</p>
      </article>
    </div>
  </section>
  <section class="flex flex-col items-center gap-8 bg-primary px-6 py-9 text-dark medium:px-10 large:gap-14 large:px-24 large:py-16">
    <h2 class="text-center text-xl medium:text-2xl large:text-3xl">Formulaire de contact</h2>
    <form class="flex w-full flex-col items-end gap-3 large:gap-5" [formGroup]="form" (ngSubmit)="sendMail()">
      <div class="w-full max-w-[calc(50%+150px)] medium:max-w-[calc(50%+180px)]">
        <div class="flex items-center gap-7">
          <label class="w-[66px]" for="last-name">Nom</label>
          <input
            class="min-w-0 rounded-full px-3 py-1 outline-none medium:w-[300px]"
            type="text"
            name="last-name"
            id="last-name"
            formControlName="lastName"
          />
        </div>
        <div class="pl-[100px] text-danger" *ngIf="form.get('lastName')?.invalid && (!form.get('lastName')?.pristine || form.get('lastName')?.touched)">
          <p *ngIf="form.get('lastName')?.hasError('required')">Requis</p>
          <p *ngIf="form.get('lastName')?.hasError('maxlength')">20 caractères maximum</p>
          <p *ngIf="form.get('lastName')?.hasError('pattern')">Sont acceptés : les lettres, les accents, le tiret et l'apostrophe</p>
        </div>
      </div>
      <div class="w-full max-w-[calc(50%+150px)] medium:max-w-[calc(50%+180px)]">
        <div class="flex items-center gap-7">
          <label class="w-[66px]" for="first-name">Prénom</label>
          <input
            class="min-w-0 rounded-full px-3 py-1 outline-none medium:w-[300px]"
            type="text"
            name="first-name"
            id="first-name"
            formControlName="firstName"
          />
        </div>
        <div class="pl-[100px] text-danger" *ngIf="form.get('firstName')?.invalid && (!form.get('firstName')?.pristine || form.get('firstName')?.touched)">
          <p *ngIf="form.get('firstName')?.hasError('required')">Requis</p>
          <p *ngIf="form.get('firstName')?.hasError('maxlength')">20 caractères maximum</p>
          <p *ngIf="form.get('firstName')?.hasError('pattern')">Sont acceptés : les lettres, les accents, le tiret et l'apostrophe</p>
        </div>
      </div>
      <div class="w-full max-w-[calc(50%+150px)] medium:max-w-[calc(50%+180px)]">
        <div class="flex items-center gap-7">
          <label class="w-[66px]" for="mail">E-mail</label>
          <input
            class="min-w-0 rounded-full px-3 py-1 outline-none medium:w-[300px]"
            type="email"
            name="mail"
            id="mail"
            formControlName="mail"
          />
        </div>
        <div class="pl-[100px] text-danger" *ngIf="form.get('mail')?.invalid && (!form.get('mail')?.pristine || form.get('mail')?.touched)">
          <p *ngIf="form.get('mail')?.hasError('required')">Requis</p>
          <p *ngIf="form.get('mail')?.hasError('email') && form.get('mail')?.touched">Le mail n'est pas valide</p>
        </div>
      </div>
      <div class="w-full max-w-[calc(50%+150px)] medium:max-w-[calc(50%+180px)]">
        <div class="flex items-center gap-7">
          <label class="w-[66px]" for="subject">Objet</label>
          <input
            class="min-w-0 rounded-full px-3 py-1 outline-none medium:w-[300px]"
            type="text"
            name="subject"
            id="subject"
            formControlName="subject"
          />
        </div>
        <div class="pl-[100px] text-danger" *ngIf="form.get('subject')?.invalid && (!form.get('subject')?.pristine || form.get('subject')?.touched)">
          <p *ngIf="form.get('subject')?.hasError('required')">Requis</p>
          <p *ngIf="form.get('subject')?.hasError('maxlength')">60 caractères maximum</p>
        </div>
      </div>
      <div class="w-full max-w-[calc(50%+150px)] medium:max-w-[calc(50%+180px)]">
        <div class="flex gap-7">
          <label class="w-[66px]" for="message">Message</label>
          <textarea
            class="h-40 w-full rounded-2xl px-3 py-1 outline-none"
            name="message"
            id="message"
            formControlName="message"
          ></textarea>
        </div>
        <div class="pl-[100px] text-danger" *ngIf="form.get('message')?.invalid && (!form.get('message')?.pristine || form.get('message')?.touched)">
          <p *ngIf="form.get('message')?.hasError('required')">Requis</p>
          <p *ngIf="form.get('message')?.hasError('maxlength')">1 000 caractères maximum</p>
        </div>
      </div>
      <button
        class="mt-4 self-center rounded-full bg-secondary px-12 pb-2 pt-1.5 text-white hover:bg-tertiary large:mt-8 large:px-20 large:pb-4 large:pt-3"
        type="button"
        (click)="sendInvalidForm()"
        *ngIf="form.invalid"
      >
        Envoyer
      </button>
      <button
        class="mt-4 self-center rounded-full bg-secondary px-12 pb-2 pt-1.5 text-white hover:bg-tertiary large:mt-8 large:px-20 large:pb-4 large:pt-3"
        type="submit"
        *ngIf="form.valid"
      >
        Envoyer
      </button>
      <p class="self-center text-danger" *ngIf="form.invalid && trySendInvalidForm">Veuillez remplir intégralement le formulaire</p>
    </form>
  </section>
</main>